<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="shortcut icon" href="/image/favicon.ico" />
</head>
<body>
  <header>
    <h1>メモアプリ</h1>
    <%="<form action=\"/memos/#{CGI.escapeHTML(@memo_contents[:memo_id])}\" method=\"post\">"%>
      <div class="form_block">
        <input type="hidden" name="_method" value="patch">
        <label for="title">タイトル（必須）<%=@message%></label>
        <%="<input type=\"text\" name=\"title\" id=\"title\" class=\"text-box\" value=\"#{CGI.escapeHTML(@memo_contents[:title])}\" required>"%>
        <label for="body">メモ</label>
        <%="<textarea name=\"body\" id=\"body\" class=\"text-box\">#{CGI.escapeHTML(@memo_contents[:body])}</textarea>"%>
      </div>
      <div class="button">
        <button>変更</button>
      </div>
    </form>
  </header>
  <footer>
    <br />
    <br />
    <a href="/">トップに戻る</a>
  </footer>
</body>
