<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <header>
    <h1>メモアプリ</h1>
    <form action="/memos" method="post">
      <div>
      <label for="title">タイトル</label>
      <input type="text" name="title" id="title" class="text-box">
      <label for="body">メモ</label>
      <textarea name="body" placeholder="メモを入力" id="body" class="text-box"></textarea>
      </div>
      <button>保存</button>
    </form>
    <a href="/">トップに戻る</a>
  </header>
</body>