<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="shortcut icon" href="/image/favicon.ico" />
</head>
<body>
  <header>
    <h1>メモアプリ</h1>
  </header>
  <div class="contents">
    <form action="/memos" method="post">
      <div class="form_block">
        <label for="title">タイトル（必須）<%=@message%></label>
        <%="<input type=\"text\" name=\"title\" id=\"title\" class=\"text-box\" value=\"#{@memo_contents[TITLE_SYM]}\">"%>
        <label for="body">メモ</label>
        <%="<textarea name=\"body\" id=\"body\" class=\"text-box\">#{@memo_contents[BODY_SYM]}</textarea>"%>
      </div>
      <div class="button">
        <button>保存</button>
      </div>
    </form>
  </div>
  <footer>
    <br />
    <br />
    <a href="/">トップに戻る</a>
  </footer>
</body>
